.posts_container {
    width: 100%;
    margin: 2.8vh auto;
    text-align: left;
    column-count: 4;
    column-gap: 20px;
    overflow: visible;
}

@media (max-width: 1860px) {
    .posts_container {
    column-count: 3;
    }
}

@media (min-width: 1860px) {
    .posts_container {
    column-count: 4;
    }
}